.nav-pills {
    li {
        margin-right: 10px;
        .nav-link {
            background-color: $white;
            padding: 5px 15px;
            &.active {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                padding: 5px 15px;
            }
        }
    }
}

.nav-tabs {
    padding-bottom: 2px;
    li {
        margin-right: 0px;
        .nav-link {
            background-color: $light;
            padding: 5px 15px;
            border: 0 none;
            &.active {
                padding: 5px 15px;
                background-color: $primary;
                color: $white;
                border: 0 none;
            }
        }
    }
}